In [1]:
import cudf as pd
from pathlib import Path

In [2]:
path_train = "data/train.parquet"
path_test = "data/test.parquet"

In [3]:
df_train = pd.read_parquet(Path(path_train))

In [4]:
df_test = pd.read_parquet(Path(path_test))

In [5]:
df_train

            session      aid          ts  type
0                 0  1517085  1659304800     0
1                 0  1563459  1659304904     0
2                 0  1309446  1659367439     0
3                 0    16246  1659367719     0
4                 0  1781822  1659367871     0
...             ...      ...         ...   ...
216716091  12899776  1737908  1661723987     0
216716092  12899777   384045  1661723976     0
216716093  12899777   384045  1661723986     0
216716094  12899778   561560  1661723983     0
216716095  12899778    32070  1661723994     0

[216716096 rows x 4 columns]

In [6]:
df_test

          session      aid          ts  type
0        12899779    59625  1661724000     0
1        12899780  1142000  1661724000     0
2        12899780   582732  1661724058     0
3        12899780   973453  1661724109     0
4        12899780   736515  1661724136     0
...           ...      ...         ...   ...
6928118  14571577  1141710  1662328774     0
6928119  14571578   519105  1662328775     0
6928120  14571579   739876  1662328775     0
6928121  14571580   202353  1662328781     0
6928122  14571581  1100210  1662328791     0

[6928123 rows x 4 columns]

In [7]:
df_test[["session"]].value_counts()

session
14086824    458
13352358    433
13242700    421
13234219    407
13346726    406
           ...
13275299      1
13562535      1
13317803      1
13533842      1
13461298      1
Length: 1671803, dtype: int64

In [8]:

df_train.query("session == 12899779")

Empty DataFrame
Columns: [session, aid, ts, type]
Index: []

In [9]:
import cudf